doctype html 5
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='title', content='Book Swap')
    meta(name='description', content='A site for trading textbooks')
    meta(name='keywords', content='book, books, textbook, textbooks, college, university, trade, swap, bookswap, swapbook, swapbooks, cheap')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      .col-md-4.col-sm-12.col-xs-12
        .row
          if apis
            h3 API Limits
            each api,apiName in apis
              .col-sm-6.col-xs-12.col-md-12
                - var usagePercent = (api.usage/api.limit*100).toFixed(2)
                p
                  strong #{apiName}
                  if api.limit
                    | &nbsp;#{api.usage}/#{api.limit} (#{usagePercent}%)
                if api.link
                  button.btn.btn-primary.form-control(type='button', onclick='window.open("#{api.link}");') Check Status
                if api.limit
                  .progress
                    .progress-bar(role='progressbar', class=(usagePercent>=75?(usagePercent>=90?'progress-bar-danger':'progress-bar-warning'):'progress-bar-success'), aria-valuenow='13', aria-valuemin='0', aria-valuemax='100', style='width:#{usagePercent}%;')
        .row
          if featureFlags
            h3 Feature Flags
            .col-xs-12.col-md-12
              each flagEnabled,flagName in featureFlags
                form(action='/admin', method='post', role='form')
                  input(type='hidden', name='_csrf', value=csrfToken)
                  input(type='hidden', name='action', value='toggleFlag')
                  input(type='hidden', name='flagName', value=flagName)
                  input(type='hidden', name='flagValue', value=flagEnabled==='off'?'on':'off')
                  button.form-control.btn(type='submit', name='submit', class=flagEnabled==='off'?'btn-danger':'btn-success') #{flagName}
        .row
          if funFacts
            h3 Fun Facts
            .col-xs-12.col-md-12
              each fact,factName in funFacts
                p
                  strong #{factName}
                  | &nbsp;#{fact}
      .col-md-8.col-sm-12.col-xs-12
        h3 Database Console
        form(action='/admin', method='post', role='form')
          input(type='hidden', name='_csrf', value=csrfToken)
          input(type='hidden', name='action', value='query')
          input.form-control(type='text', name='query', placeholder='Database Query', value=results?'#{results.query}':'')
        if errors
          each error in errors
            .alert.alert-danger
              strong #{error}
        if messages
          each message in messages
            .alert.alert-info
              strong #{message}
        if warnings
          each warning in warnings
            .alert.alert-warning
              strong #{warning}
        if results
          .panel.panel-primary
            .panel-heading #{results.rowCount} Results
            .panel-body
              if results.rows
                each result in results.rows
                  p #{JSON.stringify(result)}
