doctype html 5
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='title', content='Book Swap')
    meta(name='description', content='A site for trading textbooks')
    meta(name='keywords', content='book, books, textbook, textbooks, college, university, trade, swap, bookswap, swapbook, swapbooks, cheap')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css", rel="stylesheet")
  body
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapsible-navbar')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Book Swap
        .collapse.navbar-collapse(id='collapsible-navbar')
          if user
            ul.nav.navbar-nav
              li
                a(href='/mybooks') My Book List
              li
                a(href='/findbooks') Buy Books
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/account')
                  unless user.emailconfirmed
                    span.glyphicon.glyphicon-warning-sign &nbsp;
                  | Your Account
              li
                a(href='/logout') Logout
          else
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/login') Login
    .container
      if errors
        each error in errors
          #error.error.alert.alert-danger
            strong #{error}
      if messages
        each message in messages
          .alert.alert-info
            if typeof message === 'string'
              strong #{message}
            else
              strong #{message.message}&nbsp;
              a(href='#{message.link}') Go here to for more info.
      if warnings
        each warning in warnings
          .alert.alert-warning
            span.glyphicon.glyphicon-warning-sign &nbsp;
            if typeof message === 'string'
              strong #{warning}
            else
              strong #{warning.message}&nbsp;
              if warning.link !== path
                a(href='#{warning.link}') Go here to fix it.
      block content
  script(src="//code.jquery.com/jquery-2.1.0.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
  script(type='text/javascript').
    var VC_ID = 304;
  script(type='text/javascript', src='https://www.visitorcake.com/js/embed.js')
